
#header{ /*creates a 1x3 css grid for place the logo, page tile, and social links in*/
    background-color: rgb(247, 239, 246);
    position: static;
    z-index: 50;
    box-shadow: 0px 2px 15px black;
    grid-area: h;
    display: grid;
    grid-template-areas: "logo title social";
    grid-template-columns:150px 2.5fr 1fr ;
    grid-template-rows: 80px;
    align-items: center;
    grid-auto-flow: column;
}



#logo img{ /* Company logo*/
    height: 60px;
    position: relative;
    margin-left:21px;
    box-shadow: black 0px 0px 10px;
    border: solid black 1px;
    border-radius: 10px;
    transition: transform 0.1s ease-in-out;
}


#logo :hover{ /* Company logo when hovered over*/
    transform: scale(1.1);
}

#socials{ /*social links container*/
    width: 111px;
    display: inline-block;
    position: relative;
    grid-area: social;
    justify-self: end;
    margin-right: 10px;
    min-width: 100px;
    

}

#socials img{ /*solcail links images*/
    border: 2px solid black;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    
    
}

