
#header{
    position: static;
    background-color: aqua;
    grid-area: h;
    display: grid;
    grid-template-areas: "logo title social";
    grid-template-columns:150px 2.5fr 1fr ;
    grid-template-rows: 80px;
    align-items: center;
    grid-auto-flow: column;
}

#header h1{
    position: relative;
    display: inline-block;
    left: 15px;
    grid-area: title;
    min-width: 300px;

}
#logo{
    background-color: black;
    
    

}

#logo img{
    position: relative;
    height: 50px;
    width: 50px;
    margin-left:40px ;
    margin-top: 15px;
    box-shadow: black 0px 0px 10px;
    border: solid black 1px;
    border-radius: 10px;

    background-color: black;
}

#socials{
    display: inline-block;
    position: absolute;
    grid-area: social;
    justify-self: end;
    margin-right: px;
    min-width: 100px;
    

}

#socials img{
    
    border: 2px solid black;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    
    
}

