



 



.field-title{
    font-size: 30px;
    
    
}


input{ /* input fields*/
    margin: 8px 0px;
    padding: 3px;
}


#apply-form-container{ /*Form container*/
    transition: transform 0.4s;
    transform-origin: center;
    display:none ;
    width: 80vw;
    max-width: 800px; 
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid black;
    border-radius: 20px;
    padding: 20px;
    background: #d7cffc;
    background: linear-gradient(0deg, rgba(215, 207, 252, 1) 0%, rgba(197, 197, 240, 1) 45%, rgba(212, 247, 252, 1) 100%);
    z-index: 1000;
    margin-top: 20px;
    box-shadow: 2px 2px 20px rgb(79, 83, 84);


}
#apply-title{ /*Form title*/
    position: relative;
    text-align: center;margin-top: -25px;
    scale: 120%;
    text-shadow: rgb(187, 231, 237) 2px 2px 20px;
}

.field-title{ /*input type title*/
    display: block;
    border-top: 3px black dotted;
    margin: 5px 0px;
    color: rgb(13, 87, 207);
}



#file-upload input{ /*file upload buttons*/
    margin-top: -3px;
}

   
#close-button{ /*close form button*/
    display: none;
    background-color: rgb(17, 108, 255);
    color: white;
    border: solid black 1px;
    border-radius: 30px;
    box-shadow: black 0px 0px 2px;
    padding: 15px;
    position: absolute;
    bottom: -55px;
    left: 50%;
    transform: translate(-50%, -50%);
    scale: 125%;
    border-top: none;
   
}

#apply-button{ /*open form button*/
    background-color: rgb(17, 108, 255);
    color: white;
    border: solid rgb(101, 32, 32) 1px;
    border-radius: 30px;
    box-shadow: black 0px 0px 2px;
    padding: 15px;
    position: fixed;
    transform: translate(-50%, -50%);
    scale: 125%;
    bottom: 10px;
    z-index: 2000;
    left: 50vw;
}

#close-button:hover{ /*close button when hovered*/
    background-color: brown;
}

#close-button:active{ /*close button when clicked*/
    background-color: yellow;
}

#submit-button{ /*submit form button*/
    scale: 125%;
    position: relative;
    left: 80px;
    margin-left: 20px;
    padding: 3px; 
}

#apply-form{ /*top of form*/
    margin-top: 5px;
}

#apply-form label{ /*form lables*/
    font-weight: 600;
}



@media (max-width: 650px) { /* scales with window width*/
    #apply-form-container{
    scale: 90%;
    top: 40vh;
    }
}


@media (max-width: 650px) { /* scales with window width*/
    input[type="text"]{
        width: 70px
    }
}

@media (max-height: 550px) { /* scales with window height*/
    #apply-form-container {
        transform-origin: center center;
        transform: translate(-50%, -50%) scale(0.8);
    }
}

@media (max-height: 450px) { /* scales with window height*/
    #apply-form-container {
        transform-origin: center center;
        transform: translate(-50%, -50%) scale(0.65);
    }
}

@media (max-height: 350px) { /* scales with window height*/
    #apply-form-container {
        transform-origin: center center;
        transform: translate(-50%, -50%) scale(0.5);
    }
}

@media (max-height: 270px) { /* scales with window height*/
    #apply-form-container {
        transform-origin: center center;
        transform: translate(-50%, -50%) scale(0.4);
    }
}

