

#nav{
    background-color: red;
    grid-area: n;
    
    
}

#nav h3{
    position: relative;

    padding-left: px;
    font-size: 24px; ;
}

#nav a{
    display: inline-block;
    background-color: aliceblue;
    padding: 5px;
    margin-top: 10px;
}
