
#footer{
    z-index: 10;
    background-color: rgb(229, 218, 227);
    box-shadow: rgba(0, 0, 0, 0.836) 0px -2px 15px;
    grid-area: f;

}

#links{
    position:relative ;
    text-align: center;
    bottom: -30px;

}

