*{
    font-family: Arial, Helvetica, sans-serif;
}


body{
    margin: 0;
    overflow-x: hidden;
}

.main{
    box-shadow: 0px 0px 15px  black inset;
}



#home-hero h2{
    margin-top: 10px;
    font-size: 300%;
    padding-left: 30px;
    
}

#home-hero p{
    margin-top: -30px;
    margin-left: 50px;
    
}

#home-what-do{
    display: block;
    padding-top: 5px;
    margin-top: 45vh;
    text-align: center;
}

#home-info {
    z-index: 0;
    font-size: 120%;
    box-shadow: black 0px 5px 10px, 0px -5px 10px;
      background-color: rgb(238, 180, 34);
    padding-left: 30px;
    padding-bottom: 30px;
}

#home-hiring{
     display: block;
    background-color: ;
    padding-top: 5vh;
    text-align: center;
    padding-right: 30px;
}

#container{
    display: grid;
    grid-template:
    "h h h" 80px
    "n c c" minmax(calc(100vh - 140px), auto)
    "f f f" 60px;
    grid-template-columns: 150px 2fr 1px;
    max-width: 100vw;
}


#main{
    background: #db709e;
    background: radial-gradient(circle, rgba(219, 112, 158, 1) 0%, rgba(191, 161, 255, 1) 100%);
    grid-area: c;
    padding-bottom: 50px;
    
}




#team-container {
    display: grid;
    position: relative;
    grid-column: auto;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(300px, 1fr));
    background-color: rgb(76, 0, 255);
    padding: 50px;
    margin-right: 10px;
    grid-gap: 30px;
    justify-content: center;
}

#team-container p {
    display: inline-block;
    margin: 0px 10px;
    min-height: 150px;
    color: white; 
}

#team-container h2 {
    margin-top: 5px;
    text-align: center;
}


#team-container img {
    display: inline-block;
    position: relative;
    height: 200px;
    margin-left: 50%;
    margin-bottom: 20px;
    transform: translate(-50%, -50%);
    top: 100px;
    border: black solid 2px;
    border-radius: 15%;
    transition: transform 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.team:hover {
    transform: scale(1.1);
}

.team {
    display: inline-block;
    border: black solid 5px;
    border-radius: 50px;
    padding: 25px;
    margin-top: 10px; 
    transform: scale(1);  
    transition: transform 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
}


@media (min-width: 960px) {
    #team-container{
        grid-template-columns: repeat(3, 25vw)
        

    }
}


#training-container{
    display: grid;
    grid-template-columns: repeat(2, 40vw);
    padding-left: 20px;
    min-width: 200px;
    grid-auto-flow: row;
}

.training{
    display: grid;
    grid-template: 
    "t p" auto
    "t p" auto;
    grid-template-columns: 150px minmax(80px auto);
    margin: 20px;

    border: solid black 3px;
    border-radius: 20px;
    padding: 15px;
    box-shadow: black -5px -0px 10px inset;
    transform: scale(1); 
    transition: transform 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);

}

.training:hover{
    transform: scale(1.1);
}

.training p{
    grid-area: p;
    margin-left: 5px;
    text-align: start;
    
}



.training a{
    margin-top: 5px;
    grid-area: t;
    flex-direction: column;
    align-self: flex-end;
    text-align: center;
    order: 2;
    
}

.training h2{
    grid-area:t;
    order: 1;
    text-align: start;

}



@media (max-width: 1000px) {
    #training-container{
        grid-template-columns: repeat(1, minmax(80px, 80vw));
        grid-template-rows: repeat(4 auto);

    }
}

@media (max-width: 1000px) {
    .training{
        
        grid-template-columns: minmax(150px, 300px) minmax(minmax(150px, 300px), 300px);
        grid-template-rows: minmax(150px, auto)  auto;
        margin-top: 10px;
    }

}

@media (max-width: 500px) {
    .training h2{
        font-size: medium;
    }
}

#fqa-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 25px;
    background-color: cornflowerblue;
    
}


#fqa-container h3{

    text-align: center;
    font-size: 30px;
    margin: 10px 20px;
}

#fqa-container p{
    display: inline-block;
    padding: 3px 15vw;
    background-color: aqua;

}

#fqa-container hr{
    margin-top: 0px;
    width: 40vw;
}


.question{
    display: inline-block;
    background-color: rgb(245, 245, 245);
    border: 2px solid black;
    border-radius: 50px;
    margin-right: 10px;
    box-shadow: rgb(63, 62, 62) -0px -0px 10px inset;
    scale: 75%;
    opacity: 0.8;
    transition: 
    scale 0.2s cubic-bezier(0.165, 0.84, 0.44, 1), 
    background-color 0.2s ease-in-out;

    
}

.question:hover{
    background-color: rgb(243, 243, 243);
    scale: 104%;
    box-shadow: black -0px -0px 10px ;
    opacity: 1;
    
}



#contact-container{
    background-color:aquamarine
}

#pagetitle h2{
    
    padding-bottom: 30px;
    margin-top: 0px !important; 
    margin-bottom: 0px ;
    text-align: center;
    padding-top:10px ;
    background-color: rgb(34, 109, 238);
    box-shadow: black 0px 5px 10px;
    z-index: ;
}

.description{
    margin: 0px 30px 0px!important;
    text-align: center;
    background-color: red;
    padding-top: 0px;
    display: inline-block;
    padding: 5px;
    
    
    
   
  
}