

#nav{
    background-color: rgb(241, 67, 67);
    z-index: 1;
    grid-area: n;
    box-shadow: black 0px 10px 25px
    

    
    
}

#nav h3{
    position: relative;
    margin-top: 10px;
    padding-left: px;
    font-size: 24px; ;
    text-align: center;
}

#nav a{
    display: inline-block;
    background-color: aliceblue;
    padding: 5px;
    margin-top: 10px;
}
