*{
    font-family: Arial, Helvetica, sans-serif;
}


body{
    margin: 0px;
}

img{
    
}


#container{
    display: grid;
    grid-template:
    "h h h" 80px
    "n c c" minmax(calc(100vh - 140px), auto)
    "f f f" 60px;
    grid-template-columns: 150px 2fr 1px;
    
}


#main{
    background-color: orange;
    grid-area: c;
    padding-bottom: 50px;
    
}

#main p,h2{
    margin-left: 30px;
}

